<!DOCTYPE html>
<html lang="en", dir="ltr">
<center>

  <%= @message.text %>
  <br>
  <%= @message.created_at %>
  <br>
  <%= @tag %>
  <br>
    <div>
      <input type='button' value='Home' onclick='history.back(-1)' />
      <div>
        <form action="/messages/<%= @message.id %>/edit">
          <input type="submit" value="Edit">
        </form
        <div>
          <form action="/delete/<%=@message.id%>" method="post">
            <input type='submit' value="Delete">
            </form>

  </center>
  </html>
